<img src="images/image-1.png"/>
<img src="images/image-7.png"/>
<img src="images/image-ext-5.png"/>
<img src="images/image-ext-3.png"/>
<img src="images/image-ext-1.png"/>
<img src="images/image-2.png"/>
<img src="images/image-3.png"/>
<img src="images/image-4.png"/>
<img src="images/image-5.png"/>
<img src="images/image-6.png"/>

## github.com/agungperdananto/2025_machine_learning

In [1]:
input = [
[1, 1], [1, 0], [0, 1], [0, 0]
]
lr = [1, 1, 1, 1]
weights = [0, 0]
bias = 0
target =  [ 1, 1, 1, -1]

In [2]:
def net(x, w, b):
    xwi = 0
    for xi, wi in zip(x, w):
        # print(xi, wi)
        xwi += xi * wi
    return xwi + b

def activation(n):
    if n > 0.2:
        return 1
    if n < -0.2:
        return -1
    return 0

In [3]:
def weight_bias_adjustment(w, b, x, t, y, lr):
    e = t - y
    w_new = []
    for i in range(len(w)):
        # print(f"w[{i}] = {w[i]} + {lr} * {e} * {x[i]}")
        w_new.append(w[i] + lr * e * x[i])
    w = w_new if e != 0 else w
    b = b + lr * e if e != 0 else b

    return w, b

In [4]:
# epoch 1
# row 1
row = 1
index = row - 1
x = input[index]
weights = weights
t = target[index]
bias = bias
alpha = lr[index]

# calculate
n = net(x, weights, bias)
y = activation(n)

weights, bias = weight_bias_adjustment(weights, bias, x,t, y, alpha)
print(f"net:{n}, y:{y}, t: {t}")
print(f"w: {weights}, b: {bias}")

net:0, y:0, t: 1
w: [1, 1], b: 1

In [5]:
# epoch 1
# row 2
row = 2
index = row - 1
x = input[index]
weights = weights
t = target[index]
b = bias
alpha = lr[index]

# calculate
n = net(x, weights, bias)
y = activation(n)

weights, bias = weight_bias_adjustment(weights, b, x, t, y, alpha)
print(f"net:{n}, y:{y}, t: {t}")
print(f"w: {weights}, b: {b}")

net:2, y:1, t: 1
w: [1, 1], b: 1

In [6]:
# epoch 1
# row 3
row = 3
index = row - 1
x = input[index]
weights = weights
t = target[index]
b = bias
alpha = lr[index]

# calculate
n = net(x, weights, bias)
y = activation(n)

weights, bias = weight_bias_adjustment(weights, b, x, t, y, alpha)
print(f"net:{n}, y:{y}, t: {t}")
print(f"w: {weights}, b: {b}")

net:2, y:1, t: 1
w: [1, 1], b: 1

In [7]:
# epoch 1
# row 4
row = 4
index = row - 1
x = input[index]
weights = weights
t = target[index]
b = bias
alpha = lr[index]

# calculate
n = net(x, weights, bias)
y = activation(n)

weights, bias = weight_bias_adjustment(weights, b, x, t, y, alpha)
print(f"net:{n}, y:{y}, t: {t}")
print(f"w: {weights}, b: {b}")

net:1, y:1, t: -1
w: [1, 1], b: 1

In [15]:
import pandas as pd
from IPython.display import display, Markdown, clear_output

# epoch attempt
#  --- IGNORE ---
input = [
[1, 1], [1, 0], [0, 1], [0, 0]
]
lr = [1, 1, 1, 1]
weights = [0, 0]
bias = 0
target =  [ 1, 1, 1, -1]

results = []  # to store all rows

for epoch in range(5):
    epoch_rows = []  # collect only current epoch rows

    for row in range(1, 5):
        index = row - 1
        x = input[index]
        t = target[index]
        b = bias
        alpha = lr[index]

        n = net(x, weights, bias)
        y = activation(n)
        weights, bias = weight_bias_adjustment(weights, b, x, t, y, alpha)

        epoch_rows.append({
            "epoch": epoch + 1,
            "x1": x[0],
            "x2": x[1],
            "net": n,
            "y": y,
            "t": t,
            "w1": weights[0],
            "w2": weights[1],
            "b": b
        })
        results.append(epoch_rows[-1])

    # make a DataFrame for this epoch only
    df_epoch = pd.DataFrame(epoch_rows)
    display(Markdown(f"### ðŸ§© Epoch {epoch + 1}"))
    display(df_epoch.style.format(precision=3).background_gradient(cmap="seismic"))

### ðŸ§© Epoch 1

### ðŸ§© Epoch 2

### ðŸ§© Epoch 3

### ðŸ§© Epoch 4

### ðŸ§© Epoch 5